@font-face{
  font-family : "handwriting";

  src:  url('fonts/journal_regular_macroman/journal-webfont.eot');
  src:  url('fonts/journal_regular_macroman/journal-webfont.eot?') format('eot'),
        url('fonts/journal_regular_macroman/journal-webfont.woff') format('woff'),
        url('fonts/journal_regular_macroman/journal-webfont.ttf')  format('truetype');
}

@font-face{
  font-family : "typewriter";

  src:  url('fonts/secrettypewriter_regular_macroman/veteran_typewriter-webfont.eot');
  src:  url('fonts/secrettypewriter_regular_macroman/veteran_typewriter-webfont.eot?') format('eot'),
        url('fonts/secrettypewriter_regular_macroman/veteran_typewriter-webfont.woff') format('woff'),
        url('fonts/secrettypewriter_regular_macroman/veteran_typewriter-webfont.ttf')  format('truetype');
}

body {
  font: 21px sans-serif;

  padding: 2em;
  margin: 0;

  background: #222;
}

form {
  position: relative;

  width: 740px;
  height: 498px;
  margin: 0 auto;

  background: #FFF url(../images/postcard.jpg)
}
