@font-face{
  font-family : "handwriting";

  src:  url('fonts/journal_regular_macroman/journal-webfont.eot');
  src:  url('fonts/journal_regular_macroman/journal-webfont.eot?') format('eot'),
        url('fonts/journal_regular_macroman/journal-webfont.woff') format('woff'),
        url('fonts/journal_regular_macroman/journal-webfont.ttf')  format('truetype');
}

@font-face{
  font-family : "typewriter";

  src:  url('fonts/secrettypewriter_regular_macroman/veteran_typewriter-webfont.eot');
  src:  url('fonts/secrettypewriter_regular_macroman/veteran_typewriter-webfont.eot?') format('eot'),
        url('fonts/secrettypewriter_regular_macroman/veteran_typewriter-webfont.woff') format('woff'),
        url('fonts/secrettypewriter_regular_macroman/veteran_typewriter-webfont.ttf')  format('truetype');
}

body {
  font: 21px sans-serif;

  padding: 2em;
  margin: 0;

  background: #222;
}

form {
  position: relative;

  width: 740px;
  height: 498px;
  margin: 0 auto;

  background: #FFF url(../images/postcard.jpg)
}

h1  {
  position: absolute;
  left: 415px;
  top: 185px;

  font: 1em "typewriter", sans-serif;
}

#form {
  position: absolute;
  left: 398px;
  top: 235px;
}

#message {
  position: absolute;
  left: 20px;
  top: 70px;
}

label {
  font: .8em "typewriter", sans-serif;
}

input, textarea {
  font: .9em/1.5em "handwriting", sans-serif;

  border: none;
  padding: 0 10px;
  margin: 0;
  width: 240px;

  background: none;
}

input:focus, textarea:focus {
  background: rgba(0,0,0,.1);
  border-radius: 5px;
  outline: none;
}
